:root {
  --color-primary: #071535;
  --color-text: #333;
  --color-text-lighter: #666666;
  --color-secondary: rgb(179, 179, 179);
  --color-background: rgb(241, 241, 241);
  --color-dark: rgb(23, 34, 43);
  --color-danger: #cf004c;
  --color-light-gray: #f8f8f8;
  --color-gray: #e8eaee;
  --color-dark-gray: #e6e5e9;
  --color-light: #f8f8f8;
  --sidebar-width: 275px
}

#sidebar.active {
  --sidebar-width: 0;
}

body {
  margin: 0;
  font-family: Inter, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text) !important;
  font-size: 11.5pt !important;
  background-color: var(--color-background) !important;
}

#root {
  min-height: 100vh;
}

.header {
  width: 100%;
  background-color: #fff;
  z-index: 999;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
  /* border-bottom: 1px solid rgb(235, 235, 235); */
  display: flex;
}

.page-content-wrapper {
  display: flex;
  position: relative;
  overflow-x: hidden;
}

.color-text {
  color: var(--color-text) !important;
}

.color-text-lighter {
  color: var(--color-text-lighter) !important;
}

.main-content-wrapper {
  width: 100%;
  overflow: auto;
  padding-left: var(--sidebar-width);
}

.main-container {
  padding: 1.5rem;
  min-height: 100vh;
  margin: auto;
  background-color: white;
  width: 100%;
}

.bold {
  font-weight: bold !important;
}

.bg-gray-light {
  background-color: var(--color-light-gray) !important;
}

.bg-gray {
  background-color: var(--color-gray) !important;
}

.bg-background {
  background-color: var(--color-background) !important;
}

.bg-gray-hover:hover {
  background-color: var(--color-dark-gray) !important;
}

.btn-primary,
.bg-primary {
  background: rgb(12, 96, 139);
  background: linear-gradient(90deg, rgba(12, 96, 139, 1) 0%, rgba(12, 39, 99, 1) 28%, rgba(12, 39, 99, 1) 81%, rgba(12, 96, 139, 1) 100%);
}

.text-primary {
  color: var(--color-primary) !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

.text-secondary {
  color: var(--color-secondary) !important;
}

.rounded-sm {
  border-radius: .6rem !important;
}

.rounded-lg {
  border-radius: 20px !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.small {
  font-size: 12.5px !important;
}

.medium {
  font-size: 15.3px !important;
}

.main-auth-page-container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-track {
  background-color: transparent
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 2rem
}

.w-fit {
  width: fit-content !important;
}

hr {
  border-top: 2px solid var(--color-gray) !important;
  opacity: 1 !important;
}

#sidebar {
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: var(--color-light-gray);
  border-right: 1px solid rgb(235, 235, 235);
  transition: all 0.3s;
  padding-top: 1.5rem;
  padding-bottom: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#sidebar.active {
  margin-left: calc(0px - 275px);
}

#sidebar-logo {
  max-width: 35px;
  width: 100%;
}

#sidebar .nav-item .nav-link {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-weight: 500;
  color: var(--color-text-lighter) !important;
}

.nav-item .nav-link svg {
  font-size: 13px !important;
}

#sidebar .nav-item.active,
#sidebar .nav-item.active .nav-link,
#sidebar .nav-item:hover,
#sidebar .nav-item:hover .nav-link {
  color: var(--color-primary) !important;
}

#sidebar .nav-item:hover,
#sidebar .nav-item:hover,
#sidebar .nav-item.active,
#sidebar .nav-item.active {
  background-color: transparent !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card {
  background-color: white;
  border: 1px solid var(--color-gray) !important;
  border-radius: 1.2rem;
  padding: 1rem;
}

.btn-basic {
  border: 2px solid var(--color-gray) !important;
}

#sidebar.active #toggleModalButton {
  left: 0;
  transform: translateX(0%);
  z-index: 999 !important;
}

#toggleModalButton {
  left: var(--sidebar-width);
  transform: translateX(-50%);
  bottom: 3rem;
}

.auth-page-logo {
  max-width: 105px;
  width: 100%;
}

.task-card {
  padding: 1rem;
  border-radius: 1.2rem;
  background-color: white;
  box-shadow: 0 0 0 1px #edeae9, 0 1px 4px 0 rgba(109, 110, 111, 0.08);
  border: none !important;
}

.task-card:hover {
  background-color: var(--color-light-gray);
  cursor: pointer;
}

@media only screen and (max-width: 855px) {
  #sidebar {
    position: fixed !important;
    z-index: 9999 !important;
  }
}

.form-control {
  border: none !important;
  background-color: var(--color-gray) !important;
}

.assignee-nav-item:hover {
  background-color: var(--color-dark-gray);
}

.project-card {
  text-decoration: none !important;
  min-height: 185px;
  height: 100%;
}

#create-project-page-wrapper {
  min-height: 100vh;
  width: 100%;
}

.transform-left-35 {
  transform: translateX(-35%);
}

.transform-left-75 {
  transform: translateX(-75%);
}

.home-hero-section {
  background-image: linear-gradient(0deg, #d8eeee, #d8eeee 25%, #64adc9 65%, #005986b4 90%, #005986c9);
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}

.fw-400 {
  font-weight: 400 !important;
}

.sidebar-link-group {
  padding-bottom: 1.85rem;
}

.nav-tabs .nav-item .nav-link {
  color: var(--color-secondary);
  border: none;
  border-bottom: 2px solid transparent;
}

.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link:hover {
  background-color: transparent;
  border-color: gray;
  color: var(--color-text-lighter);
}

.vis-label .vis-inner {
  height: 120px;
}

.vis-label {
  height: 120px !important;
}

.vis-group {
  height: 120px !important;
  padding-right: 1.3rem !important;
}

.vis-item {
  background-color: var(--color-primary) !important;
  border-radius: .8rem;
  padding: .5rem !important;
}

.vis-item .vis-item-overflow {
  height: 30%;
}